<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--
      Demo trên máy khác: chỉ cần đổi giá trị Server.
      Ví dụ: Server=DESKTOP-ABC\SQLEXPRESS
    -->
    <add name="ClinicAppDB"
         connectionString="Data Source=BAOCHAU2203;Initial Catalog=ClinicAppDB;Integrated Security=True;TrustServerCertificate=True;Encrypt=False"
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>
