<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ClinicAppDB"
         connectionString="Data Source=BAOCHAU2203;Initial Catalog=ClinicAppDB;Integrated Security=True;TrustServerCertificate=True;Encrypt=False"
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>
