<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--
      Demo trên máy khác: chỉ cần đổi giá trị Server.
      Ví dụ: Server=DESKTOP-ABC\SQLEXPRESS
    -->
    <add name="ClinicAppDB"
         connectionString="Data Source=LAPTOP-9B9R17BI\MSSQLSERVER01;Initial Catalog=ClinicDB;Integrated Security=True"
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>
